.calcPanel {
	width: 100%;
	background-color: #CCC;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.calcPanelToolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.calcPanelContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.calcPanelPointsControl {
    width: 33.33333333%;
    display: flex;
    flex-direction: column;
    border: 1px solid #AAA;
    padding: 8px;
    overflow-y: scroll;
    background-color: white;
    margin: 8px;
}

.calcPanelPointsList {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.addBindingControl {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	height: 100px;
	position: relative;
}

.addBindingPanel {
	display: flex;
	width: 50%;
	border: 1px solid #666;
	justify-content: center;
	align-items: center;
}

.addBindingButton {
	position: absolute;
	bottom: 0;
	right: 0;
}
