.selectableBinding {
	display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.selectableBinding:not(:last-child) {
    border-bottom: 1px solid #AAA;
}

.colorPicker {
	opacity: 0;
	position: absolute;
	top: 35px;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
}

.colorPickerBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.dummy {
	display: flex;
	flex-grow: 1;
}