{
	"env": {
		"test": {
			"presets": [["es2015"], "react"]
		},
		"development": {
			"presets": ["@babel/preset-react", "@babel/preset-env"]
		},
		"production": {
			"presets": ["@babel/preset-react", "@babel/preset-env"]
		}
	}
}