.controlsPanel {
	width: 100%;
	background-color: #CCC;
	display: flex;
	flex-direction: column;
}

.controlsPanelTabs {
	flex-grow: 1;
}

.controlsPanelTabs:focus {
	outline: none;
}

.controlsPanelTabsNav {
	flex-shrink: 0;
}