.pannel {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	margin-left: -11px;
}

.pannelTab {
	display: flex;
	flex-grow:1;
	min-height: 0;
}

.pannelNavigationContainer {
	flex-shrink: 0;
}