.adminPanel {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	height: 100%;
	width: 100%;
	position:absolute;
	left: 0;
	top: 0;
	flex-direction: column;
}

.adminTitle {
	padding: 16px;
	flex-shrink: 0;
}

.adminTabs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
	padding: 0 16px;
}

.adminNavigationContainer {
	flex-shrink: 0;
}

.adminTab {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.adminTab:focus {
	outline: none;
}

.adminTabContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
}

.adminTabScrollableContent {
	display: flex;
	overflow: auto;
}

.adminTabActions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 16px;
	margin-top: 30px;
	flex-shrink: 0;
}

.actionButton {
	margin: 0 6px;
}