.auth-background {
	position:absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
}

.auth-pannel {
	background-color:white;
	width: 400px;
	min-height: 400px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.auth-pannel-title {
	text-align:center;
	font-weight: bold;
	font-size: 24px;
	padding: 16px;
}

.auth-pannel-content {
	min-height: 0;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	flex-grow: 1;
}

.auth-pannel-form {
	min-height: 0;
	display: flex;
	flex-direction:column;
	flex-grow: 1;
	padding: 10px;
}


.auth-pannel-actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;
}

.auth-pannel-actions button {
	margin-left: 10px;
}
