.pannel {
	position:absolute;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	width: 300px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.layer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.infiniteScrollContainer {
	min-height: 0;
	flex-grow: 1;
	overflow: auto;
}

.infiniteScroll {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.thumbnail {
	position:relative;
	height: 100px;
	width: 100px;
	margin: 8px;
}