.infiniteScrollContainer {
	min-height: 0;
	flex-grow: 1;
	overflow: auto;
}

.infiniteScroll {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.thumbnail {
	position:relative;
	height: 100px;
	width: 100px;
	margin: 8px;
}

.mediasLockedMessage {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
}